body {
  background-image: url('img/Fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url();
}

li {
  float: right
}

li a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h1 {
  color: rgb(255, 255, 255);
}

p {
  color: white;
}